body 
{
	font-family: 'Droid Arabic Kufi' !important;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}

body.common-home footer
{
    margine-top:0;
}

body footer
{
    margin-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #b7b7b7;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
header span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline !important;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}

/* alert */
.alert {
	/* display: none; */
}
/* breadcrumb */
.breadcrumb 
{
	padding: 15px;
	border-radius:25px;
	border: none;
	background: #df416c; /* Old browsers */
	background: -moz-linear-gradient(left, #df416c 0%, #fe6182 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #df416c 0%,#fe6182 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #df416c 0%,#fe6182 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df416c', endColorstr='#fe6182',GradientType=1 ); /* IE6-9 */
	text-align:center;
	margin: 20px auto 40px auto;
	display: block;
	/* width: 30%; */
}

.breadcrumb a
{
	color:#fff;
	font-size:15px
} 

.breadcrumb i 
{
	font-size: 15px;
}

.breadcrumb > li 
{
	text-shadow: none;
	position: relative;
	padding:0 10px 0 0;
}

.breadcrumb li:before , .breadcrumb > li + li:before
{
	content:"-";
	position:absolute;
	color:#fff;
	font-size:20px;
	left:-10px;
}

.breadcrumb > li + li:before
{
	left:-15px;
}

.breadcrumb li:last-of-type:before
{
	display:none;
}

.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default 
{
	color: #fff;
	text-shadow: none;
	background-color: #ff5f81;
	border: 1px solid #ef839a;
	box-shadow:none !important;
	transition:all 0.5s ease-in-out;
	border-radius:0;
	padding:10px;
	
}

.btn-default:hover
{
	background-color:#fa5c7f;
	border-color: #fa5c7f;
	color:#fff;
	transition:all 0.5s ease-in-out;
}
.btn-primary 
{
	color: #ffffff;
	text-shadow:none;
	background: #fa5c7f;
	border-color: #fa5c7f;
	padding:10px 20px;
	box-shadow: none !important;
	border-radius: 0;
	transition:all 0.5s ease-in-out;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #fff;
	color: #fa5c7f;
	border-color: #fa5c7f;
	transition:all 0.5s ease-in-out;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger 
{
	color: #ffffff;
	text-shadow:none;
	background-color: transparent;
	border-color: #fa5c7f;
	color: #fa5c7f;
	border-radius:0;
	padding:10px 15px;
	box-shadow:none;
	transition:all 0.5s ease-in-out;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled]
{
	box-shadow:none !important;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger
{
	border-color: #fa5c7f;
	background-color: #fa5c7f;
	color:#fff;
	transition:all 0.5s ease-in-out;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-right: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}

.product-thumb .rating {
	padding-bottom: 10px;
	display:  none;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}

.product-thumb .price-new {
	font-weight: 600;
	/* display:  none; */
	font-size: 1;
	color: white;
	display:  block;
	font-weight:  bolder;
	font-weight: bold !important;
	font-size: 18px !important;
}


.product-thumb .price-old {
	text-decoration:line-through;
	font-size: 14px;
	display:  block;
}

.product-thumb .price-tax 
{
	color: #999;
	font-size: 12px;
	display:none;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: hidden;
	position:  relative;
}
.product-list .product-thumb .button-group {
	border-right: 1px solid #ddd;
}

@media (max-width: 768px) {
.product-list .product-thumb .button-group {
	border-right: none;
}
}

.product-thumb .button-group button 
{
	/* display:block; */
	width: 56%;
	float:right;
	border: none;
	background-color: #8c8c8c;
	color: #fff;
	line-height: 50px;
	font-weight: lighter;
	text-align: center;
	font-size: 16px;
	transition:all 0.5s ease-in-out;
	border:none;
	border-left:1px solid #c1c1c1;
}

.product-thumb .button-group button.price{
	height: 57px;
	line-height: 0;
	position: relative;
	bottom:  0;
	top: 0;
	line-height: 20px;
}

.product-thumb .button-group button:hover
{
	background-color:#f90 !important;
	transition:all 0.5s ease-in-out;
}

.product-thumb .button-group button:last-of-type
{
	background-color:#f90;
	line-height: 55px;
	border:none;
	transition:all 0.5s ease-in-out;
	width:  44%;
	font-size: 13px;
	border: none;
}

.product-thumb .button-group button:last-of-type:hover
{
	background-color:#8c8c8c !important;
	transition:all 0.5s ease-in-out;
}

.product-thumb .wish , .product-thumb .compare
{
	display:none;
}
.product-thumb .button-group button:hover 
{
	color: #fff;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}

.related .product-thumb  .price .cur-sm
{
	color:#fff !important;
}

.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-right: 20px;
}
.thumbnails {
	margin-right: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: right;
	margin-right: 20px;
}
/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3{
       width: 100%;
    }
    #column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }
    #column-left + #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
    #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
	width: 100%;
}
/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

.btn-group > .btn, .btn-group-vertical > .btn
{
	float:none;
}

/* top */
#top 
{
	background-color: #f90;
}

#top #currency .currency-select:hover 
{
	text-shadow: none;
	color: #f90;
	background-color: transparent;
	transition:all 0.5s ease-in-out;
}

#top #currency button .fa
{
	font-size:20px
}

#top #currency button .fa-caret-up
{
	position:absolute;
	top:0px;
	right: -4px;
}

#top #currency button .fa-caret-down
{
	position:absolute;
	bottom: 5px;
	right: -4px;
}

#top .btn-link, #top-links li, #top-links a  , #top-links strong
{
	color: #fff;
	text-shadow: none;
	text-decoration: none;
	font-weight:lighter;
	font-size: 15px;
}

#top-links .dropdown-menu a ,#top-links .dropdown-menu button 
{
	text-shadow: none;
	color:#000;
	transition:all 0.5s ease-in-out;
}

#top-links .dropdown-menu a:hover , #top-links .dropdown-menu button:hover
{
	color: #ff5f81;
	transition:all 0.5s ease-in-out;
	background:transparent;
	transition:all 0.5s ease-in-out;
}

#top
{
	padding-top: 7px;
	padding-bottom: 3px;
}

#top #cart{
	display:none
}


#top .container-fluid
{
	padding:0 50px;
}

#top ul
{
	margin-bottom:0 !important;
}

#top-links ul.dropdown-menu
{
	border-radius:0;
	border:none;
	animation:1.2s fadeIn;
}

#top .phone
{
	position:relative;
	padding-right:30px;
}

#top .phone a{
		font-size: 18px;

}

#top .phone:after
{
	content:"";
	background:url(../image/phone.png);
	width: 23px;
	height: 23px;
	position:absolute;
	top: -4px;
	right:  0;
}

#top .se
{
	width: 67%;
}

/* logo */
#logo {
	margin: 0 0 10px 0;
}

header .info
{
	margin-top: 75px;
}

header .info .col-md-4
{
	padding:0;
}

header .info .image
{
	display:inline-block;
	width:20%;
}

header .info .image img
{
	margin-top: -59px;
}
header .info .image1 img
{
	margin-top:-20px;
}
header .info .text
{
	padding-right: 10px;
	display:inline-block;
	width:70%;
}

header .info .text span
{
	font-weight:bold;
	font-size: 14px;
}

header .info .text p
{
	font-size: 13px;
}

/* search */
#search
 {
	/* margin-bottom: 10px; */
	width:85%;
}

#search .input-lg 
{
	background-color: #FFF;
	height:36px;
	/* border:1px solid #fff; */
	border-radius:0 15px 15px 0;
	border-left:0;
	color: #ff5f81;
	outline:  none;
	box-shadow:  none;
	text-shadow:  none;
	/* border-top:  none; */
	border: none;
}

#search .btn-lg
{
	color: #ff5f81;
	background: #FFF;
	height:36px;
	border:1px solid #fff;
	border-radius: 15px 0 0 15px !important;
	border-right:0;
	text-shadow:none;
	outline:  none;
	box-shadow:  none;
}

#search .input-lg::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ff5f81;
}
#search .input-lg ::-moz-placeholder { /* Firefox 19+ */
  color: #ff5f81;
}
#search .input-lg :-ms-input-placeholder { /* IE 10+ */
  color: #ff5f81;
}
#search .input-lg:-moz-placeholder { /* Firefox 18- */
  color: #ff5f81;
}

#top .register a
{
	color:#fff;
	font-size: 15px;
}

#top .register
{
	float:  left;
	padding-top: 9px;
	position:relative;
}

#top .register:before
{
	content:"";
	background:url(../image/register.png) no-repeat;
	width:20px;
	height:25px;
	position:absolute;
	right:-20px;
}

/* menu */
#menu 
{
	border-radius:0;
	background:#f90;
	margin-bottom: 37px;
	padding: 5px;
}

#menu .nav > li:first-of-type
{
	position:absolute;
	right:3%;
	top: -5px;
}

#menu .nav > li > a 
{
	color: #fff;
	text-shadow:none;
	padding: 10px 10px 10px 10px;
	background-color: transparent;
	font-size: 15px;
	font-weight:lighter !important;
	transition:all 0.5s ease-in-out;
}

#menu .nav > li > a:hover
{
	transition:all 0.5s ease-in-out;
	color:#ccc;
}

#menu .nav > li > a:hover, #menu .nav > li.open > a 
{
	background-color: transparent;
}

#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 230px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner a:hover{
	background:#ff5f81
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #ff5f81;

}
#menu #category {
	float: right;
	padding-right: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: left;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#top #cart{
	display:block
}
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-right: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}

/* cart */
#cart 
{
	margin: 75px 0;
}

#cart > .btn 
{
	font-size: 12px;
	line-height: 18px;
	color: #000;
	background:url(../image/cart.png) no-repeat right;
	background-size: 16%;
	border:none;
	box-shadow:none;
	float:  left;
}

#cart p
{
	display:inline-block;
	padding-right: 16px;
	margin: 0;
}

#cart #cart-total
{
	font-family:  'bahij';
	display:  inline-block;
	font-size: 15px;
}

#cart.open > .btn 
{
	color: #000;
	box-shadow: none;
	text-shadow: none;
}

#cart.open > .btn:hover 
{
	color: #444;
}

#cart .dropdown-menu 
{
	background: url(../image/pattren-news-lette1r.png) center left, #e6e4e5 !important;
	border:none;
	border-radius:0;
	background-size:100%;
}

#cart .dropdown-menu  .img-thumbnail
{
	border-radius:0;
}

#cart .dropdown-menu a
{
	color:#000;
}

.table-striped > tbody > tr:nth-of-type(odd)
{
	background: transparent;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
	border:none;
	background-color:transparent
}
@media (max-width: 478px) {
		#cart .dropdown-menu {
			width: 100%;
		}
	}
#cart .dropdown-menu table 
{
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
		#cart .dropdown-menu li > div {
			min-width: 100%;
		}
	}
#cart .dropdown-menu li p {
	margin: 20px 0;
}

#slider0
{
	margin:auto;
}

#slider0 .nivo-directionNav 
{
	display:none !important;
}

.nivo-controlNav 
{
	z-index: 9;
	/* position:absolute; */
	/* top: 95%; */
	/* left: 46%; */
}

.nivo-controlNav a
{
	font-size:0;
	margin:3px;
	width:10px !important;
	height:10px !important;
	border-radius:50%;
	padding:4px;
	background-color:#ff5f81;
}

.owl-carousel.owl-rtl
{
	direction:rtl !important;
}

.owl-carousel .owl-prev
{
	position:absolute;
	right:-4%;;
	top:40%;
	outline:none;
	transition:all 0.5s ease-in-out;
}

.owl-carousel .owl-next
{
	position:absolute;
	left:-4%;;
	top:40%;
	outline:none;
	transition:all 0.5s ease-in-out;
}

.owl-carousel .owl-next:hover
{
	transform:translate(-5px);
	transition:all 0.5s ease-in-out;
	outline:none;
	background-color:transparent !important;
}

.owl-carousel .owl-prev:hover
{
	transform:translate(5px);
	background-color:transparent !important;
	outline:none;
	transition:all 0.5s ease-in-out;
}

.common-home .container-fluid
{
    width:92%; 
	margin:auto;
}

.banner
{
	margin-top:40px;
}
.banner .item
{
	border-radius:40px;
	overflow:hidden;
	margin:5px;
	box-shadow: 0 0 12px #ccc;
	transition:all 0.5s ease-in-out;
	position:  relative;
	z-index: 999;
}

.banner .item:after
{
	content:"";
	position:absolute;
	width:0;
	height:0;
	top:0;
	right:0;
	background-color:rgba(228, 70, 111,0.2);
	transition:all 0.5s ease-in-out;
	border-radius:40px;
	z-index: -1;
}

.banner .item:hover:after
{
	width:100%;
	height:100%;
	transition:all 0.5s ease-in-out;
}

.banner .owl-carousel .owl-item img
{
	width: 100% !important;
	margin:0px !important;
}

.product-thumb 
{
	border: 1px solid #ddd;
	margin: 20px 0;
	overflow: auto;
	box-shadow: 0 0 7px 0px #ddd;
	padding-top:20px;
	position:relative;
	transition:all 0.5s ease-in-out;
	/* min-height: 370px; */
}

.product-thumb:hover
{
	transform:translatey(-8px);
	transition:all 0.5s ease-in-out;
	border-color:#f18ca1;
}

.product-thumb .image 
{
	text-align: center;
}
.product-thumb .image a {
	display: block;
}

.product-thumb .image img 
{
	margin-left: auto;
	margin-right: auto;
	/* width: 45%; */
}
.product-grid .product-thumb .image 
{
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: right;
	padding: 0 15px;
}
}


.product-thumb .caption 
{
	padding: 15px 0px;
	text-align:center;
	color:#000;
	transition:all 0.5s ease-in-out;
	min-height: 140px;
}

.product-thumb:hover .caption h4 a
{
	color:#fa5d7f;
	transition:all 0.5s ease-in-out;
}
 .owl-item  .product-thumb .caption p:first-of-type{
	font-size: 11px;
}
.product-thumb .caption p:first-of-type
{
	padding: 0 16px;
	text-align:center;
	color:#949494;
}

.product-thumb .caption h4 a
{
	font-weight: bold;
	color:#000;
	font-size:19px;
	transition:all 0.5s ease-in-out;
}

.product-thumb .price
{
	color: #ffffff;
	font-weight:bold !important;
	font-size: 22px !important;
}

.product-thumb  .price .cur-sm
{
	font-weight:lighter !important;
	padding-right:5px;
	font-size: 13px;
}
.product-list .product-thumb .caption 
{
	margin-right: 230px;
}

.bestseller , .latest , .special
{
	margin-top: 15px;
}

.title
{
	position:relative;
	margin-bottom: 12px;
}

.title h3:after
{
	content:"";
	border-bottom:1px solid #f1f1f1;
	position:absolute;
	bottom:10px;
	width:100%;
	right:0;
}

 .title h3
{
	display:inline-block;
	padding: 14px 20px;
	background: #f90; /* Old browsers */
	background: -moz-linear-gradient(left, #f90 0%, #f90 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f90 0%,#f90 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f90 0%,#f90 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f90', endColorstr='#f90',GradientType=1 ); /* IE6-9 */
	font-size: 19px;
	color:#fff;
}

.special-
{
	position:absolute;
	background: #df416c; /* Old browsers */
	background: -moz-linear-gradient(left, #df416c 0%, #f90 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #df416c 0%,#f90 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #df416c 0%,#f90 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df416c', endColorstr='#f90',GradientType=1 ); /* IE6-9 */
	color:#fff;
	font-size:17px;
	padding:5px 15px;
	border-radius:20px;
	left:4%;
	top:5%;
}

.more 
{
	display: block;
	text-align:  center;
	margin:  auto;
	margin-top: 45px;
}

.more a
{
	color:#fff;
	background: #df416c; /* Old browsers */
	background: -moz-linear-gradient(left, #f90 0%, #f90 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #df416c 0%,#f90 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #df416c 0%,#f90 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df416c', endColorstr='#f90',GradientType=1 ); /* IE6-9 */
	padding: 10px 8px;
	font-size: 13px;
	display:inline-block;
	text-align:center;
	transition:all 0.5s ease-in-out;
	border:1px solid #fd6081;
}

.more a:hover
{
	transition:all 0.5s ease-in-out;
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(left, #fff 0%, #fff 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #fff 0%,#fff 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fff 0%,#fff 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=1 ); /* IE6-9 */
	color:#fd6081;
}

.owl-carousel .owl-item img
{
	width:auto !important;
	margin:  auto;
}

.company .container
{
	width:70%;
}

.company
{
	margin-top: 26px;
}

.company .item img
{
	transition:all 0.5s ease-in-out;
}

.company .item:hover img
{
	transform:scale(1.1);
	transition:all 0.5s ease-in-out;
}

#newsletterModule-Static.well
{
	display:inline-block;
	border:none;
	box-shadow:none;
	border-radius:0;
	background:url(../image/back-news.png) no-repeat center , #f4577b !important;
	padding: 0;
}

#newsletterModule-Static.well .form-group
{
	width:80%;
}

#newsletterModule-Static.well h2
{
	font-size:20px;
	font-weight:bold;
	color:#fff;
}

#newsletterModule-Static.well h5
{
	font-size:13px;
	color:#fff;
}

#newsletterModule-Static.well input
{
	border-radius:0;
	border:0;
	height:60px;
	padding:0 80px 0 0;
	background:url(../image/mail.png) no-repeat right 2% center, #fff;
}

#newsletterModule-Static.well .btn
{
	border-radius:0;
	border:0;
	height:60px;
	padding:10px;
	background: #fff;
	color:#cfcfcf;
	font-size:25px;
	font-weight:bold;
	box-shadow: none !important;
	outline: none;
}

#newsletterModule-Static.well .btn:hover
{
	color:#f4577b;
}

#newsletterModule-Static.well h4
{
	font-size:15px;
	color:#fff;
	text-align:center;
	margin-top:80px;
	margin-right:30px;
}

#newsletterModule-Static.well .social
{
	text-align: center;
	position:  relative;
	bottom: 0;
}

#newsletterModule-Static.well .social li 
{
	transition:all 0.5s ease-in-out;
}

#newsletterModule-Static.well .social li:hover 
{
	transition:all 0.5s ease-in-out;
	transform:rotatey(360deg);
}

.text-danger
{
	color:#fff;
	font-size:14px;
	margin-top:10px;
}

/* footer */
footer 
{
	background-color: #ffffff;
	color: #e2e2e2;
}

footer li
{
	padding-top:5px;
}

footer a 
{
	color: #ccc;
	font-size:14px;
	font-weight:lighter;
	transition:all 0.5s ease-in-out;
	display:block;
	position:relative;
}

footer a:before
{
	content:"-";
	position:absolute;
	right:-10px;
	opacity:0;
	transition:all 0.5s ease-in-out;
}

footer .social a:before
{
	display:none;
}

footer .social li a:hover
{
	transition:all 0.5s ease-in-out;
	transform:rotatey(360deg) translate(0) !important;
}

footer a:hover:before
{
	opacity:1;
	transition:all 0.5s ease-in-out;
}
footer a:hover
{
	color:#fa5c7f;
	transition:all 0.5s ease-in-out;
	transform:translate(-8px);

}

footer h5 
{
	font-size: 14px;
	font-weight: bold;
	color: #f4577b;
}

footer h4
{
	font-size:20px;
	color:#f4577b;
	text-align:center;
	font-weight:bolder;
	margin-bottom:40px;
}

.bottom
{
	background-color:#f3f2f2;
	padding:20px;
	margin-top:20px;
}

.bottom .payment
{
	text-align:left;
}

.bottom .payment li i
{
	color:#4bc75a;
	font-size: 29px;
}

.bottom .payment li
{
	padding:0 10px;
}

.bottom .rights
{
	display:inline-block;
	padding-left:20px;
	position:relative;
}

.bottom .rights:after
{
	position:absolute;
	left:0;
	border-left:1px solid #a9a9a9;
	content:"";
	top:0;
	height:70%;
}

.bottom .rights p
{
	font-size:17px;
	color: #c5c5c5;
}

.bottom .rights p span a
{
	color:#eaa5b7;
}

.bottom .rowaad
{
	padding-right:10px;
	display:inline-block;
}

.bottom .rowaad img
{
	margin-right:5px;
}

/* Sharing Buttons */
.a2a_floating_style {
   position: static!important;
   padding: 0!important;
   display: inline-block;
   background-color: transparent!important;
   margin-left: 0!important;
   margin-bottom: -16px;
   margin-right: 0!important;
}

.a2a_floating_style.a2a_default_style span,
.a2a_floating_style.a2a_default_style a, .a2a_overlay_style.a2a_default_style a {
   float: right;
   border-radius: 50%;
}

.a2a_floating_style.a2a_default_style>  span {
   margin-left: 10px;
   font-size: 16px;
   font-weight: 300;
   color: #000;
   position: relative;
   top: 4px;
}

.slider-for .slick-slide img
{
	width:100%;
	margin: 0;
	border-radius: 0;
}

.slider-for .slick-slide
{
	border:  1px solid #ccc;
	margin:0 3px;
}

.slider-nav .slick-slide img
{
	/* transform:rotate(90deg); */
	margin: auto;
	width: 100%;
}

.slider-nav .slick-slide
{
	box-shadow:0 0 10px #e2e2e2;
	margin: 7px 5px;
}

.product-page h1
{
	font-size:30px;
	color:#ff6283;
	font-weight:bold;
	margin-top:0;
	margin-bottom: 50px;
}

.product-page .des span
{
	color:#a0a0a0 !important;
	font-family:'bahij' !important;
	font-size:15px !important;
}

.product-page .des
{
	margin-bottom:0;
	padding-left: 22px;
}

.product-page .model
{
	display:none;
}

.product-page .stock
{
	color:#b7b7b7 !important;
	font-size:19px;
	position:relative;
	padding-right:35px;
	margin-top: 10px;
}

.product-page .stock:before
{
	content:"";
	position:absolute;
	background:url(../image/check.png) no-repeat;
	width:28px;
	height:28px;
	right:0;
	top:-3px;
}

.product-page .price , .product-page .price-spe
{
	font-size:27px;
	color:#ff6283;
	font-weight:bold;
}

.product-page .prices li
{
	display:inline-block;
	padding:0 5px 0;
}

.product-page .prices li:last-of-type
{
	/* display:none; */
}

.product-page .cur-sm
{
	font-size:17px;
	color:#777777;
	padding-right:5px;
	font-weight:lighter;
}


.product-page .quantity-pluse
{
	color:#ff6283;
	font-size: 5px;
	border-radius: 50% !important;
	border: none;
	padding: 0 13px;
	width: 30px;
	height: 30px;
	background: #e5e5e5;
	margin: 6px 5px;
	transition:all 0.5s ease-in-out;
}

.product-page .quantity-pluse:hover
{
	background:#ff6283;
	color:#fff;
	transition:all 0.5s ease-in-out;
}

.product-page .quantity-pluse i
{

	font-size:8px;
}

.product-page .input-group-btn-vertical
{
    border: none;
    display: flex;
    padding: 8px 10px;
    margin: 0;
    height: 55px;
    width:100%;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.product-page .input-group-btn-vertical input
{
	border:none;
	text-align:center;
	box-shadow:none;
	padding: 0;
}

.product-page .quant
{
	color:#b7b7b7 !important;
	font-size:19px;
	position:relative;
	padding-right:35px;
	margin-bottom:20px;
	display:  table-column;
}

.product-page .quant:before
{
	content:"";
	position:absolute;
	background:url(../image/Asset37.png) no-repeat;
	width:26px;
	height:33px;
	right:0;
	top:-3px;
}

.product-page .form-group #button-cart
{
	display:inline-block;
	width: 41%;
	margin-right:16px;
	border: 1px solid #ff6283;
	padding: 17px;
	background: #ff6283;
	font-weight:  bold;
	font-size: 18px;
	color: #fff;
	height: 55px;
	transition:all 0.5s ease-in-out;
}

.product-page .form-group #button-cart:hover
{
	background:#fff;
	color: #ff6283;
	transition:all 0.5s ease-in-out;
}

.product-page .spinner
{
	display:inline-block;
}

.product-page .rating p
{
	display:none;
}

.product-page .rating h5
{
	font-size:14px;
	display:inline-block;
	color:#b7b7b7 !important;
}

.product-page #column-right
{
	background-color:#ff6283;
	width: 22%;
	margin-right: 24px;
	padding-bottom:40px;
}

.product-page .special 
{
	margin-top:20px;
}
.product-page .special .item
{
	background-color:#fff;
	display:inline-block;
	margin:5px -50px 5px 0;
	padding: 11px 0;
	box-shadow: 0 0 37px rgba(226, 68, 110,0.4);
}

.product-page .special .price-tax
{
	display:none;
}

.product-page .special .col-md-8 , .product-page .special .col-md-4
{
	padding:0;
}

.product-page .special h4 a
{
	color:#ff6283;
}

.product-page .special p
{
	color:#b7b7b7 !important;
	margin-bottom:0;
}

.product-page .special .price-old ,.product-page .special .price-new
{
	font-size:15px;
	display:  inline-block;
	color:#ff6283;
}

.product-page .special .price-old {
		text-decoration: line-through;
	color:#b7b7b7;

}

.product-page .special .price-old .cur-sm ,.product-page .special .price-new .cur-sm
{
	font-size:11px;
}

.product-page .special .discount
{
	padding-right: 70px;
	position:relative;
	padding-top: 31px;
}

.product-page .special .discount:before
{
	position:absolute;
	content:"";
	background:url(../image/discount.png) no-repeat;
	width:63px;
	height:92px;
	right:0;
	top:0;
}

.product-page .special .discount p
{
	font-size:19px;
	color:#fff !important;;
	font-weight:bold;
}

.product-page .special .discount p span
{
	display:block;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
	border:none;
	background: #df416c; /* Old browsers */
	background: -moz-linear-gradient(left, #df416c 0%, #fe6182 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #df416c 0%,#fe6182 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #df416c 0%,#fe6182 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df416c', endColorstr='#fe6182',GradientType=1 ); /* IE6-9 */
	color:#fff;
	border-radius:0;
	font-size:18px;
}

.nav-tabs
{
	border:none;
	margin-bottom: 2px;
	margin-top:  50px;
}

.nav-tabs > li 
{
	padding-left:15px;
}

.nav-tabs > li > a
{
	border:none;
	color:#777;
	background-color:#e5e5e5;
	border-radius:0;
	font-size:18px;
	font-weight:lighter;
}

.tab-content
{
	margin-bottom:20px;
	box-shadow: 0 0 7px rgba(226, 68, 110,0.4);
	padding:20px;
}

.tab-content span
{
	font-family:'bahij' !important;
	color: #777171 !important;
	font-size: 16px !important;
	line-height: 30px;
}

.cart__overlay 
{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .3);
	position: fixed;
	z-index: 100;
	top: 0;
	right:  0;
	left: 0;
}

.cart__body 
{
	display: block;
	width: 100%;
	background: #FFF;
	padding-top: 24px;
	padding-bottom: 15px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 0px -9px 50px -30px black;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 105;
	transform: translate3d(0, 0, 0);
	transition: .2s cubic-bezier(.33,1,.53,1);
	overflow:  auto;
}

.cart__body[hidden]
{
		transform: translate3d(0, 150%, 0);
}

.cart__header button div:before 
{
	content: '';
	width: 3px;
	height: 13px;
	background: #df416c;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cart__body .empty{
	    color: #df416c;
	    font-size: 18px;
	    margin-top: 22px;
	    text-align:  center;
	    display: block !important;
}

.cart__body p.head
{
	font-size: 30px;
	color:#fff;
	text-align:center;
	position:relative;
	margin: auto;
	display:inline-block;
	background: linear-gradient(to bottom, rgba(5, 3, 6,0.5) 51%, #24b487 80%);
	right: 45%;
}

.cart__header button
{
	/* align-items: center; */
	/* justify-content: center; */
	width: 25px;
	height: 25px;
	background: #fff;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: none;
	border:  none;
	margin-bottom: 10px;
	float:  left;
	position:  relative;
	top: -12px;
	right: -19px;
}

.cart__header button div 
{
	width: 13px;
	height: 3px;
	background: #df416c;
	position: relative;
	transform: rotate(5.5rad);
}

.cart__header button div:before 
{
	content: '';
	width: 3px;
	height: 13px;
	background: #df416c;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
    

#cart  .text , #cart .total
{
	display: inline-block;
	float:  none;
}

#cart .text td, #cart .total td
{
	display: block;
	float:  none;
	line-height: 28px;
	font-size: 17px;
	padding-right: 20px;
}

#cart .total td
{
	color: #000;
}
#cart .buttons
{
	padding-right:20px;
}
#cart .buttons a , #cart .buttons a:first-of-type:hover
{
	color:#ffffff;
	background-color:#ababab;
	padding: 7px 14px;
	transition:all .5s ease-in-out;
	border-radius:7px;
	margin-left: 25px;
}

#cart .buttons a:first-of-type ,
#cart .buttons a:hover
{
	background-color:#df416c;
	transition:all .5s ease-in-out;
}
#cart .total-cart
{
	text-align:  center;
	color: #df416c;
	padding: 11px 0 15px;
	margin-top: 13px;
	display: block;
	border-top: 1px solid #e6e6e6;
}

#cart .col-md-2
{
	padding:5px;
}

#cart .item
{
	border:1px solid #d6d5d5;
	text-align:center;
	position:relative;
	background: #fff;
	padding:16px;
	margin-top:  11px;
}

#cart .img-thumbnail
{
	border-radius:0;
	border:none;
	background-color:transparent;
}

#cart .item .caption
{
	text-align:center;
	padding:5px;
}

#cart .item .caption h1
{
	margin:0;
}

#cart .item .caption h1 a
{
	font-size:15px;
	color: #080000;
}

#cart .item .caption span
{
	color:#df416c;
	font-family: 'Droid Arabic Naskh'; 
	font-size:18px;
}

#cart .item .caption p span
{
	color: #050306;
	font-size: 9px;
	display:  inline-block;
	background: transparent;
	font-family:  'bahij';
	margin: 0 1px 0 -1px;
	z-index:99;
}

#cart .item .caption p strong
{
	background-color: #df416c;
	color:#fff;
	padding: 0 8px;
	border-radius: 50%;
}

#cart .item .caption .qnt
{
	position:absolute;
	top: 13px;
	z-index: 99;
	background-color: #fff;
	color: #050306;
	right: 10px;
	margin-bottom: 0;
	padding: 0;
}

#cart .item .close
{
	position:absolute;
	top: -9px;
	opacity: 0;
	left: -4px;
	transition:all 0.5s ease-in-out;
}

#cart .item:hover .close
{
	opacity:1;
	transition:all 0.5s ease-in-out;
}

#cart .item .close .btn
{
	border:none;
	box-shadow:none;
	padding:0 5px;
	font-weight:lighter;
	border-radius:50%;
	background:#df416c;
	color:#fff;
	width:20px;
	height:20px;
	line-height:22px;
}

#cart .item .close .btn i:before
{
	font-size:10px;
}

.category
{
	background-color:#fa5c7f;
	padding-bottom: 10px;
}

.category .title
{
	padding:10px;
	margin-bottom: 0;
}

.category .title h5
{
	font-size:25px;
	color:#fff;
	font-weight:bold;
}

.category .list-group a.active, .list-group a.active:hover, .list-group a:hover 
{
	color:#fa5c7f;
	background-color:#fff;
	border:none;
	transition:all 0.5s ease-in-out;
}

.list-group a
{
	transition:all 0.5s ease-in-out;
	background-color:#fff;
	border:none;
	border-radius: 0 !important;
	margin: 5px 15px 9px;
	font-size:14px;
	color:#ababab;
}

.btn-group, .btn-group-vertical
{
	display:block;
}

.pagination > li > a, .pagination > li > span
{
	color: #f90;
	transition:all 0.4s ease-in-out;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus
{
	color:#fff !important;
	border-radius:0 !important;
	background-color: #f90;
	border-color: #f90;
	transition:all 0.4s ease-in-out;
}

.pagination > li:last-child > a, .pagination > li:last-child > span
{
	border-radius:0;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus
{
	color: #fff;
	background-color: #f90 !important;
	transition:all 0.4s ease-in-out;
	border-color: #f90;
}

.panel-default > .panel-heading
{
	background:#e4e4e4;
	color:#676767;
}

.panel-default
{
	border-radius:0 !important;
}

#login_model
{
	background-color:rgba(0,0,0,0.5);
	left:0;
}

#login_model .close
{
	opacity:1;
	float:left;
}

#remeber_password i:before
{
	content:"\f100" !important;
}
.form-control
{
	height:39px;
}

.checkout-cart table tr
{
	border-bottom:1px solid #ddd;
}

@media (max-width: 767px) 
{
	.cart_mob
	{
		float:left;
		margin-left:10px;
	}
	.phone
	{
		margin-top:12px;
	}
	.product-thumb .price-old
	{
		/* display:none; */
	}
	.Julie-Alert
	{
		top: 292px !important;
		/* height: 83% !important; */
	}
	.Alert-btn-container button, .Alert-btn-container a
	{
		padding:5px !important;
	}
	.Julie-board
	{
		background:rgba(0,0,0,.6) !important;
	}
	.Alert-btn-container button
	{
		display:inline-block !important;
	}

	#cart .item .close
	{
		opacity:1;
	}
	.dropdown-backdrop
	{
		display:none;
	}
	.product-thumb .image img
	{
		width:42%;
	}
	.product-layout.col-xs-6
	{
		padding:5px;;
	}
	.owl-carousel .owl-item img
	{
		width: 103% !important;
		margin: -8px -5px !important;
	}
	.container-fluid
	{
		width:100%;
	}
	.banner .item
	{
		margin:0;
	}
	.bestseller, .latest, .special
	{
		margin-top:0;
	}
	.title
	{
		margin-bottom:10px;
	}
	.title h3
	{
		font-size:15px;
		padding:10px;
	}
	.product-thumb .button-group button:last-of-type
	{
		line-height: 32px !important;
	}
	.product-thumb .button-group button.price{
		height:3.7em;
		line-height: 14px !important;
	}
	.product-thumb .button-group button
	{
		font-size: 9px !important;
		line-height: 30px !important;
	}
	.product-thumb .caption
	{
		padding:0
	}
	.product-thumb .caption p:first-of-type
	{
		padding:0;
		font-size:10px !important;
	}
	.product-thumb .caption h4 a
	{
		font-size:13px;
	}
	.special-
	{
		font-size:10px;
		padding:3px 8px;
		border-radius:10px;
	}
	.more
	{
		margin-top:5px;
	}
	.more a
	{
		padding:5px 10px;
		font-size:12px;
	}
	.owl-carousel .owl-prev , .owl-carousel .owl-next
	{
		display:none !important;
	}
	#newsletterModule-Static.well
	{
		padding:0;
	}
	#newsletterModule-Static.well h4
	{
		margin-top:0;
		margin-right: 0;
	}
	#newsletterModule-Static.well .form-group
	{
		width:100%;
	}
	#newsletterModule-Static.well h5
	{
		font-size:10px;
	}
	.breadcrumb
	{
		width:100%;
		margin:  10px auto;
	}
	.product-page .des span
	{
		font-size:12px !important;
	}
	.product-page h1
	{
		font-size:25px !important;
		margin-bottom:10px;
	}
	.product-page .price, .product-page .price-spe
	{
		font-size:23px
	}
	.bottom .payment
	{
		text-align:center;
		padding:0
	}
	.bottom .payment li
	{
		padding:0;
		width:15%;
	}
	.bottom .payment li img
	{
		width:80%;
	}
	.bottom .rights
	{
		padding:0;
		text-align:center;
	}
	.bottom .rights p
	{
		font-size:11px;
	}
	.bottom .rights:after
	{
		display:none;
	}
	.bottom .rowaad
	{
		text-align:center;
		display:  block;
	}
	.bottom .rowaad span
	{
		display:block;
	}
	footer h4
	{
		margin-bottom:10px;
	}
	footer .social
	{
		text-align:center;
		padding:0;
	}
	.bottom
	{
		margin:0;
	}
	.nav-tabs > li 
	{
		padding-left:0;
	}
	.nav-tabs > li a
	{
		padding:10px;
		color: #777;
		font-size: 14px;
	}
	footer li a:before
	{
		display:none;
	}
	.nav-tabs > li a:hover
	{
		transform:translate(0);
	}
	.nav-tabs > li.active a
	{
		font-size:14px;
	}
	.nav-tabs > li.active a h5
	{
		color:#fff;
	}
	#newsletterModule-Static.well .social
	{
		padding:0
	}
	.company
	{
		margin-top:20px;
	}
	.company .container
	{
		width:90%;
	}
	#logo
	{
		text-align:center;
		margin:0;
	}
	#logo img
	{
		margin:auto;
		width: 61%;
	}
	#top ul
	{
		padding-right:0;
	}
	#cart
	{
		margin:auto;
		text-align:center;

	}
	#cart > .btn
	{
		float: none;
		text-align:center;
		margin:auto;
		color: #fff;
		background:  url(../image/res-cart.png) no-repeat right;
		background-size:15%;
	}
	header .info .col-xs-4
	{
		padding:0;
	}
	header .info
	{
		margin-top:30px;
	}
	header .info .image , header .info .text
	{
		display:block;
		width:100%;
		text-align:center;
		padding: 0;
	}
	header .info .image img
	{
		width:30%;
	}
	header .info .image img
	{
		margin-top:-10px;
	}
	header .info .text span
	{
		font-size:10px;
	}
	header .info .text p
	{
		font-size:6px;
	}	
	.product-page .form-group #button-cart
	{
		font-size: 13px;
		width: 41%;
		padding: 13px;
		margin-right: 2px;
	}
	.product-page .input-group-btn-vertical
	{
		padding: 7px;
		height: 55px;
		width: 98%;
	}
	.tab-content span
	{
		font-size:15px !important;
		line-height:12px;
	}
	body footer
	{
		margin-top:10px;
	}
	.nav-tabs
	{
		margin-top: 20px;
	}
	#cart .item
	{
		padding:0;
	}
	#cart .item img
	{
		width:60%;
	}
	.product-page .col-md-12
	{
		padding:0
	}
}

@media (min-width: 768px)  and (max-width: 991px)
{
	.product-thumb .button-group button:last-of-type
	{
		font-size:11px;
	}
	#top ul
	{
		padding:0;
	}
	header .info .image
	{
		display:block;
		text-align:center;
		width:  100%;
	}
	header .info .image img
	{
		width: 27%;
	}
	header .info .text span
	{
		font-size:9px;
	}
	header .info .text p
	{
		font-size:5px;
	}
	header .info .text
	{
		width:100%;
		padding:  0;
		display: block;
		text-align:  center;
	}
	#menu .nav > li > a
	{
		font-size:14px;
		padding: 8px;
	}
	#menu
	{
		background-position:right 1% center;
		background-size:4%;
		margin-bottom:15px;
	}
	.company
	{
		margin-top:20px;
	}
	.company .container
	{
		width:90%;
	}
	.container-fluid
	{
		width:100%;
	}
	#newsletterModule-Static.well .social
	{
		padding-right:0;
	}
	#newsletterModule-Static.well .social li
	{
		padding:0;
	}
	#newsletterModule-Static.well h4
	{
		margin-top:50px;
		margin-right:0;
	}
	#newsletterModule-Static.well
	{
		padding:0;
	}
	footer .social
	{
		padding:0;
	}
	footer .social li
	{
		padding:0;
	}
	footer h4
	{
		margin-top:30px;
		margin-bottom:20px;
	}
	footer a
	{
		font-size:11px;
	}
	.bottom
	{
		margin-top:  0;
		padding: 10px;
	}
	.bottom .payment
	{
		padding:0;
		text-align: right;
	}
	.bottom .payment li
	{
		width: 18%;
	}
	.bottom .payment li img
	{
		width:100%;
	}
	.bottom .rights p
	{
		font-size:12px;
	}
	.more
	{
		margin-top:10px;
	}
	.more a
	{
		padding:10px;
		font-size:14px;
	}
	.title
	{
		margin-bottom:10px;
	}
	.title h3
	{
		padding:15px;
		font-size: 18px;
	}
	.bestseller, .latest, .special
	{
		margin-top:20px
	}
	.owl-carousel .owl-item img
	{
		width: 106% !important;
	}
	.banner .item
	{
		margin:8px
	}

}

@media (min-width: 992px)  and (max-width: 1191px)
{
	#top ul
	{
		padding:0;
	}
	#top .se
	{
		width:69%;
	}
	header .info .image
	{
		width:100%;
		display:block;
		text-align:center;
	}
	header .info .text
	{
		width:100%;
		text-align:center;
	}
	#menu .nav > li > a
	{
		font-size:15px;
	}
	#menu
	{
		background-size:3%;
	}
	.owl-carousel .owl-item img
	{
		width:106% !important;
	}
	.bestseller, .latest, .special
	{
		margin-top:20px;
	}
	.title
	{
		margin-bottom:20px;
	}
	.title h3
	{
		padding:15px;
		font-size:20px;
	}
	.more
	{
		margin-top:10px;
	}
	.more a
	{
		font-size:14px;
		padding:15px;
	}
	.owl-carousel .owl-next
	{
		left: -3%;
	}
	.bottom
	{
		padding:20px 0;
	}
	.bottom .payment
	{
		text-align:right;
		padding:0;
	}
	.container-fluid
	{
		width:100%;
	}
	#newsletterModule-Static.well
	{
		padding:10px 0;
	}
	#newsletterModule-Static.well .social
	{
		margin:0;
		padding: 0;
	}
	#newsletterModule-Static.well h4
	{
		margin-top:50px;
	}
	footer h4
	{
		margin-bottom:20px;
		margin-top:30px;
	}
	.company .container
	{
		width:90%;
	}
	.product-page .special .discount:before
	{
		background-size: 94%;
		width: 30px;
		height:  50px;
	}
	.product-page .special .discount
	{
		padding-right:  33px;
		padding-top: 0;
	}
	.product-page .special .discount p
	{
		font-size:15px;
	}
	.product-page .form-group #button-cart
	{
		padding: 15px;
		width: 38%;
		font-size: 15px;
	}
	.product-page .input-group-btn-vertical
	{
		padding:10px;
		height:  50px;
	}
	.product-page .des span
	{
		font-size:12px !important;
	}
}

.b-a, .bar, .bar:before, .bar:after {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 4px;
  width: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

.menu-collapsed {
  transition: all .25s;
  position: absolute;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
  z-index: 99999999;
}
.menu-collapsed ul {
  transition: all 0s;
  position: fixed;
  left: -9000px;
}

.bar {
  position: absolute;
  left: 12px;
  top: 15px;
}
.bar:before {
  top: -8px;
}
.bar:after {
  top: 8px;
}

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
  transition: all .25s;
  top: -0px;
}

.menu-expanded 
{
  transition: all .25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  background:url(../image/pattren-news-lette1r.png) top 20% left 30% , #ff5f81;
  overflow:  hidden;
  padding-top: 71px;
}

.menu-expanded ul {
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}
.menu-expanded a {
  transition: all .15s;
  text-decoration: none;
  font-size: 15px;
  padding: 5px;
  color: #fff;
  display: block;
}
.menu-expanded a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all .15s;
  letter-spacing: 2px;
  color: #333;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.menu-expanded .bar {
  background-color: transparent;
  transition: all .25s;
}
.menu-expanded .bar:before {
  transform: rotate(45deg);
}
.menu-expanded .bar:after {
  transform: rotate(-45deg);
}


  body.stop-scroll
  {
    overflow: hidden;
  }
button
{
  background-repeat: no-repeat;
}
  

.Julie
{
   display: -moz-flex;
  display: -webkit-flex;
  display :flex;
  flex-direction: column;
  align-items: center;
}
.Julie  .Julie-title
  {
    margin-top: 10px;
    width: 250px;
    height: 100px;
    color:#41463D;
    border-bottom :2px dotted #41463D;
    border-width: 4px;
    text-align: center;
  }
.Julie .Julie-title   h1
    {
      margin-top: 20px;
      padding-bottom: -10px;
      font-size: 55px;
      font-weight: 200;
    }      
  .Julie-content
  {
    margin:30px 0;
    width :75%;
    height: auto;
    display: -moz-flex;
  display: -webkit-flex;
  display :flex;
  flex-direction: column;
  align-items: center;
  } 
  .Julie-content  .Julie-btn
  {
     display: -moz-flex;
  display: -webkit-flex;
  display :flex;
  flex-direction: column;
  align-items: center;
      margin-top: 30px;
      height: 150px;
      width: 50%;
      border: 1px solid #6B6B6B;
      border-radius: 5px;
      }
    .Julie-content  span
    {
        color :#000;
    }
     .Julie-content
    {
        margin: 10px 0;
        padding: 15px 30px 15px 30px;
        border: 2px solid #000;
        border-radius: 5px;
        color: Julie-black;
        background-color: transparent;
        font-size: 15px;
        font-weight: 400;
        outline: none;
        cursor: pointer;
        transition: all .3s ease;
    }
        .Julie-content button:hover
        {
          color: white;
          background-color:#000;
          transition: all .25s ease;
          }
      .blockquote
      {
        position: relative;
        width: 20px;
        height: 3px;
        background-color:#f0f0f0;
        margin-top: 30px;
        }
        .blockquote::before,.blockquote::after
        {
          content: "";
          position: absolute;
          background-color :quote-color;
          width: 3px;
          height: 20px;
          top: -9px;
          left: calc(50% - 1.5px);
          transform: rotate(45deg);
        }
         .blockquote::after
         {
          transform: rotate(-45deg);
         }
.Julie-board
{
  overflow: hidden;
  transition: all .2s ease;
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.25);
  }
.Julie-Alert
{
  color: Julie-black;
  opacity: 0;
  display: none;
  flex-direction: column;
  /* align-items: center; */
  position: fixed;
  width: 450px;
  min-height: 200px;
  top: 35%;
  left: calc(50% - 225px);
  background-color: white;
  border: 1px solid #ff6283;
  border-radius: 5px;
  z-index: 1000;
  transition: all .7s ease;
  justify-content: center;
  padding: 20px 10px 20px 0;
}

  .Alert-content
 {
    display: block;
    margin: 0;
    padding: 20px 20px 0px 20px;
 }
  .Alert-btn-container
  {
    /* float: left; */
    position :relative;
    /* margin: -55px auto; */
    text-align:  center;
    /* padding: 30px 0 10px 0; */
  }
   .Alert-btn-container button , .Alert-btn-container a
    
    {
      /* display: inline-block; */
      margin: 10px 10px;
      padding :10px 30px 10px 30px;
      /* border: 2px solid #ab4158; */
      border-radius :5px;
      color: white;
      font-size: 13px;
      font-weight: 400;
      outline: none;
      cursor :pointer;
      transition :all .25s ease;
    }
    .Alert-btn-container  a
    {
        text-decoration: none;
    }
     .Alert-btn-container  a:hover ,.Alert-btn-container  button:hover
     {
        transition: all .5s ease;
        border-color: white;
        color: white;
     }
        .Alert-btn-container  a > a 
        {
          color: white;
        }
    
    .error , .checkout
    {
      color: #ff6283;
      border-color: #ff6283;
      background-color: #ff6283;
    }
    .error  a
    {
        color: #ff6283;
    }
     .error  a:hover
     {
        background-color: #FC9F8D;
     }
        
 @keyframes showAlertBoard
 {
  0% 
  {
    display: none;
    opacity: 0;
 }
  1%
  {
    display: block;
    opacity: 0;
  }
  2%
  {
    transform: scale(.1);
    -webkit-transform: scale(.1);
  }
  100%
  {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity :.7;
    border-radius :1px;
  }
  }
 @keyframes showAlert
 {
  0%
  {
    transform: scale(.8);
    -webkit-transform: scale(.8);
    opacity: .3;
 }
  70%
  {
    opacity: 1;
  }
  100%
  {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  }
 @keyframes showAlertPop
 {
  0%
  {
    opacity: 0;
  }
  1%
  {
    transform: scale(.7);
    -webkit-transform: scale(.7);
    opacity: 1;
  }
  50%
  {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    opacity: 1;
  }
  70%
  {
    transform: scale(.88);
    -webkit-transform: scale(.88);
    opacity: 1;
  }
  100%
  {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }}
 @keyframes hideAlert
 {
  0%
  {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
    }
  100%
  {
    transform: scale(.4);
    -webkit-transform: scale(.4);
    opacity: 0;
    display: none;
  }}
.showJulieAlertBoard
{
  -webkit-animation: showAlertBoard .5s;
  animation: showAlertBoard .5s;
  opacity: .7;
  display: block;
  }
.showJulieAlert
{
  -webkit-animation: showAlert 0.45s;
  animation: showAlert 0.45s;
}
.showJulieAlertPop
{
  -webkit-animation: showAlertPop .45s;
  animation: showAlertPop .45s;
}
.hideJulieAlert
  {
  -webkit-animation: hideAlert 0.3s;
  animation: hideAlert 0.3s;
  }

.Julie-Alert i
{
	color:#ff6283;
	font-size:30px;
	text-align:center;
	display:  block;
}

.Julie-Alert h1
{
	font-size: 19px;
	color:#ff6283;
	margin-top:0;
}

.Julie-Alert .image
{
	/* float:  right; */
	width: 100%;
	margin:  auto;
}

.Julie-Alert .image img
{
	/* float:right !important; */
	width: auto;
	/* display:  inline-block; */
	text-align: center;
}

.Julie-Alert .text
{
	/* width: 71%; */
	/* float: right; */
	/* display:  inline-table; */
	padding-top: 32px;
}

.Julie-Alert h5
{
	display:  inline-block;
	color:#868383;
	font-size:15px;
}

.Julie-Alert h5 span
{
	color:#ff6283;
	font-size: 15px;
	font-weight:bold;
}

.Julie-Alert h5 span.cur-sm
{
	margin-right:5px
}
@media(max-width:768px)
{
  .Julie
  {
    border: none;
  }
    .Julie .Julie-title
    {
      width: 150px;
      height: 70px;
    }
    .Julie .Julie-title  h1
      {
        font-size: 30px;
}
    .Julie-content
    {
      margin: 30px 0;
      width: 100%;
}
      .Julie-btn
      {
        /* height: 150px; */
        width: 80%;
        }

        .Julie-Alert .text{
        	padding-top:0
        }
  .Julie-Alert
  {
    width: 265px;
    left: calc(50% - 128px);
  }
  .Julie-Alert h1
  {
  	font-size: 12px !important;
  }
  .Julie-Alert h5 , .Julie-Alert h5 span
  {
  	font-size:12px;
  }
  .Alert-btn-container button
  {

display:  block;

margin: 0;

padding: 7px 15px;
}
  .Alert-btn-container
  {
  	float:none;
  	display:block;
  	margin: 0;
  }
}


.regist legend
{
	border:none;
	display:inline-block;
	position:relative;
	font-weight: bold;
	color: #000000;
	padding-left: 17px;
	padding-right: 10px;
}
.regist h1
{
	color: #000000;
	font-weight:bold;
}

.regist legend:before
{
	position:absolute;
	content:'';
	left: 0;
	right: 9px;
	bottom:-15%;
	background-color: #fc5f81;
	width:130px;
	height:2px;
	line-height:10px;
}
.regist fieldset
{
	border: 1px solid #000000;
	padding:22px 37px;
	margin-bottom:50px;
	background: url(../image/backfooter1.png)center no-repeat;
}

.regist fieldset input ,.regist fieldset select
{
	background-color:transparent;
	border:none;
	border-bottom:1px solid #bfbfbf;
	border-radius:0;
	box-shadow:none;
}

.regist fieldset input:hover ,.regist fieldset select:hover,.regist fieldset input:focus ,.regist fieldset select:focus
{
	box-shadow:none;
	outline:0;
	border-color:#333;
}

.log .well
{
	box-shadow:  none;
	border:none;
	background-color:transparent;
}

.log fieldset
{
	border: 1px solid #c1c1c1;
	padding:22px 37px;
	margin-bottom:50px;
	background:url(../image/background.png);
}
.log legend
{
	border:none;
	display:inline-block;
	position:relative;
	font-weight: bold;
	color: #000000;
	padding-left: 17px;
}
.log h2
{
	color: #000;
	font-weight:bold;
	font-size: 19px;
	margin-right: 10px;
	margin-top: 3px;
}
#logo img{
    max-width: 200px;
    margin: 28px;
}
.log legend:before
{
	position:absolute;
	content:'';
	left: 0;
	right: 11px;
	bottom: 12%;
	background-color: #fd6081;
	width:130px;
	height:2px;
}
.log .form-control
{
	background:transparent !important;
	border:  none;
	border-bottom: 1px solid #adadad;
	border-radius: 0;
}

#product{
	margin-top:50px
}